.*
!.gitignore
!.env.dist
!docker-compose.dev.dist.yml
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/

docker-compose.dev.yml
.env
###< symfony/framework-bundle ###
